@import url(../styles/variable.css);
@import url(../styles/global.css);
/* styles */
.paragraph{
    background-color: var(--color-1);
    font-size: 2rem;
    margin: 0;
    padding-top:2rem;
    padding-bottom: 2rem;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}
/* top */
.paragraph--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
    margin-left: 2.18rem;
    padding-right: 4.18rem;
}
.paragraph--header_img{
    max-width: 80%;
}
.paragraph--header__nav{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.paragraph--header__nav a{
    color: var(--color-3);
    font-size: 1.8rem;
    text-decoration: none;
}
.header{
    margin-top: 10rem;
    background-color: var(--color-5);
}
.nike{
    margin: 0 2.25rem;
}
.nike img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.nike--p{
    display: block;
    margin-top: 1rem;
    text-decoration: none;
}
.nike--p_1{
    color: var(--color-2);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.nike--p_2{
    color: var(--color-3);
    font-size: 1.8rem;
    margin: 0;
}
.section--one{
    margin-top: 13.75rem;
}
.section--one_grid a{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
}
.section--one_grid_img{
    left: -11rem;
    max-width: 59rem;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: -1;
}
.section--one_grid a p{
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    left: -11rem;
    z-index: -1;
}
/* section two */
.section--two{
    margin-top: 13.75rem;
    margin-left: 2.188rem;
}
.section--two_div{
    width: 65vw;
}
/* section three */
.section--three{
    margin-top: 9.87rem;
    margin-bottom: 8.75rem;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    margin-left: 3.188rem;
}
.section--three_p1{
    font-size: 5rem;
    text-align: left;
    width: 50%;
}
.section--three_p2{
    font-size: 2.125rem;
    text-align: left;
    width: 50%;
}
.section--three_a{
    max-width: 15.25rem;
}
